spring:
  h2:
    console:
      settings:
        web-allow-others: true
      enabled: true
  datasource:
    platform: h2
    url: jdbc:h2:mem:reservations
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

reservation:
  allowedTimeInterval: 15
  minimumStartTime: '08:30'
  maximumEndTime: '18:00'
  maintenanceSchedule:
    MORNING:
      startTime: '09:00'
      endTime: '09:15'
    NOON:
      startTime: '13:00'
      endTime: '13:15'
    EVENING:
      startTime: '17:00'
      endTime: '17:15'

logging:
  level:
    root: INFO
app:
  security:
    enabled: 'false'
